---
- name: Install HAProxy
  yum:
    name: haproxy
    state: present

- name: Configure HAProxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    validate: haproxy -c -f %s
  notify: Restart HAProxy

- name: Start and enable HAProxy
  service:
    name: haproxy
    state: started
    enabled: true
