---
- name: Install common packages
  yum:
    name:
      - vim
      - git
      - curl
      - wget
      - net-tools
      - bash-completion
    state: present

- name: Enabled firewalld
  service:
    name: firewalld
    state: started
    enabled: true


